<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7004255016-rm6ladhkf4ofmfiov9i15n2ol8qggg70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7004255016-rm6ladhkf4ofmfiov9i15n2ol8qggg70</string>
	<key>API_KEY</key>
	<string>AIzaSyBWH-T14BGEU-U-5re5RiXUryrDTQiKl84</string>
	<key>GCM_SENDER_ID</key>
	<string>7004255016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avecare.hwcccc-supervisor</string>
	<key>PROJECT_ID</key>
	<string>avecare-sdmc</string>
	<key>STORAGE_BUCKET</key>
	<string>avecare-sdmc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7004255016:ios:4c1f862e4374737442961d</string>
	<key>DATABASE_URL</key>
	<string>https://avecare-sdmc.firebaseio.com</string>
</dict>
</plist>